*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skin{
    margin: 10px 10px 30px 10px;

    /* background-color: ; */

    /* If you want to change the color of the background, it can change "background-color" in this block CSS here */
}

.top-fig-content{
    border-radius: 20px;
    width: 100%;
    height: 300px;  /*  <---   */

    /* If the top banner input picture has "Height" less than 400px --> Edit the "height" here (this block CSS) to = 300px */

}

.tree-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    border-top: 0.5px solid #ddd;
    padding: 30px;
    margin-bottom: 100px;
    /* background-color: #eee; */
}

.tree-form{
    display: grid;
    grid-template-columns: 39% 19% 39%;
    grid-template-rows: 400px 400px 400px;
    grid-row-gap: 100px;
    grid-column-gap: 1.5%;
}

/* event 1 */

.tree-form-item:first-child{
    grid-column: 1/3;
    grid-row: 1/2;
}

.tree-form-item:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}

/* event 2 */

.tree-form-item:nth-child(3){
    grid-column: 1/2;
    grid-row: 2/3;
}

.tree-form-item:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}

/* event 3 */

.tree-form-item:nth-child(5){
    grid-column: 1/3;
    grid-row: 3/4;
}

.tree-form-item:last-child{
    grid-column: 3/4;
    grid-row: 3/4;
}

.tree-item-child{
    width: auto;
    height: 400px;
    overflow: hidden;
}

.tree-image-cg{
    border-radius: 50px;
    box-shadow: 1px 5px 10px 3px #ddd;
    position: relative;
}

.tree-image{
    width: 100%;
    border-radius: 50px;
}

.tree-item-cg{
    font-size: 30px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.tree-child-tag{
    margin: 10px;
}

.ctrl-respo{
    display: none;
}

@media screen and (max-width: 900px) {
    .top-fig-content{
        height: 100px;
    }

    .tree-name{
        font-size: 30px;
        margin-bottom: 100px;
    }

    .tree-form{
        display: block;
    }

    .tree-item-child{
        width: auto;
        height: 170px;
        overflow: hidden;
    }

    .tree-item-cg{
        font-size: 15px;
    }

    .tree-image{
        border-radius: 30px;
    }


    .tree-image-cg{
        border-radius: 30px;
        box-shadow: 1px 5px 10px 3px #ddd;
        position: relative;
    }

    .tree-item-cg{
        font-size: 30px;
        margin-top: 20%;
        transform: translateY(-30%);
    }


    .tree-form{
        display: grid;
        grid-template-columns: 97%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-row-gap: 30px;
        grid-column-gap: 1.5%;
    }

    /* event 1 */

    .tree-form-item:first-child{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .tree-form-item:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /* event 2 */

    .tree-form-item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .tree-form-item:nth-child(4){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* event 3 */

    .tree-form-item:nth-child(5){
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .tree-form-item:last-child{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .tree-item-cg{
        font-size: 15px;
    }
} 